<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>654171513470-auuk4enhhbb72to4kut4jne8hv67aevk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.654171513470-auuk4enhhbb72to4kut4jne8hv67aevk</string>
	<key>API_KEY</key>
	<string>AIzaSyD48ZxiaK9yKkbE4Qt6feoxaP7eGFElgH4</string>
	<key>GCM_SENDER_ID</key>
	<string>654171513470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uj.Z6-LoginSignup</string>
	<key>PROJECT_ID</key>
	<string>z6-loginsignup</string>
	<key>STORAGE_BUCKET</key>
	<string>z6-loginsignup.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654171513470:ios:f402efe0af7d30f0c22e2f</string>
</dict>
</plist>